@page "/"

<h1>Game</h1>

<div class="right-border"></div>
<div class="left-border"></div>

<div class="game-page">
    <div class="header">
        <div class="high-score"><b>High Score: 999</b></div>
        <div class="space-to-start"><b>Press Spacebar to Start</b></div>
        <div class="score"><b>Score: 75</b></div>
    </div>

    <div class="game-container" tabindex="0" @onkeydown="HandleKeyPress">
        <Player Model="_gameManager.Player" />
        @foreach (var bot in _gameManager.SquareBots)
        {
            <SquareBot Model="bot" />
        }
    </div>



    <div class=" footer">
        <div class="timer"><b>Time: @_gameManager.TimeLeft</b></div>
        <div class="level"><b>Level: 1</b></div>
    </div>
</div>

@code {

    GameManager _gameManager;

    protected override void OnInitialized()
    {
        _gameManager = new GameManager();
        _gameManager.MainLoopCompleted += (o, e) => StateHasChanged();
    }

    void HandleKeyPress(KeyboardEventArgs e)
    {
        if (e.Code == "Space")
        {
            _gameManager.StartGame();
        }
        if (e.Code == "ArrowUp")
        {
            _gameManager.MovePlayer("up");
        }
        if (e.Code == "ArrowDown")
        {
            _gameManager.MovePlayer("down");
        }
        if (e.Code == "ArrowLeft")
        {
            _gameManager.MovePlayer("left");
        }
        if (e.Code == "ArrowRight")
        {
            _gameManager.MovePlayer("right");
        }
    }

}
